<h1>This is a list of all of your shows, <%= @user.username %>!</h1>
<br><br>
<%= @quotes_array.sample() %>
<br><br>
<% @user.shows.each do |show| %>
    <h3><strong><%= show.title%></strong></h3>
    <br><br>
    <p>Author: <%= show.author %></p>
    <p>Role: <%= show.role %></p>
    <p>Style: <%= show.style %></p>
    <p>Composer: <%= show.composer %></p>
    <p>Year Done: <%= show.year_done %></p>
    <p>Theatre Company:<%= show.theatre_company %></p>
    <p>Notes: <%= show.notes %></p>
    <br>
    <br>
  <% end %>
  <br>
  <a href="/shows/new">Add A Show</a>
  <a href="/shows">All Shows</a>
  <a href="/">Back</a>
  <a href="/logout">Log Out</a>